<h2 class="text-4xl font-bold dark:text-white mx-auto mb-8">Edit SSO Client</h2>

<%= render "form", sso_client: @sso_client %>

<br>

<div class="mx-auto">
  <%= link_to "Show this SSO client", @sso_client %> |
  <%= link_to "Back to SSO clients", sso_clients_path %>
</div>
