
<div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Client name
                </th>
                <th scope="col" class="px-6 py-3">
                    Has client and secret?
                </th>
                <th scope="col" class="px-6 py-3">
                    Authorizations
                </th>
                <th scope="col" class="px-6 py-3">
                    Last update
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
        <% @clients.each do |client| %>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= client.name %>
                </th>
                <td class="px-6 py-4">
                    <% if client.has_client_and_secret? %>
                        <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                            <span class="w-2 h-2 mr-1 bg-green-500 rounded-full"></span>
                            Data is Available
                        </span>
                    <% else %>
                        <span class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
                            <span class="w-2 h-2 mr-1 bg-red-500 rounded-full"></span>
                            Data Unavailable
                        </span>
                    <% end %>
                </td>
                <td class="px-6 py-4">
                    0
                </td>
                <td class="px-6 py-4">
                   <%= time_ago_in_words client.updated_at %>
                </td>
                <td class="px-6 py-4">
                    <%= link_to 'Edit', edit_sso_client_path(client), class: "text-blue-600 hover:underline" %>
                </td>
            </tr>
        <% end %>  
        </tbody>
    </table>
</div>
