<h2 class="text-4xl font-bold dark:text-white mx-auto">New SSO Client</h2>

<%= render "form", sso_client: @sso_client %>

<br>

<div class="mx-auto">
  <%= link_to "Back to SSO clients", sso_clients_path %>
</div>

